.aboutus{
    display: flex;
    margin-bottom: 3rem;
    overflow: hidden;
    padding: 2.5rem;
    background-color: $primary;
    box-shadow: 0 15px 25px rgba($black, 0.35);

    @include breakpoint ($mobile-bp){
        flex-direction: column;
        padding: 1.5rem;

        max-width: 300px;
    }
}

.aboutus__preview{
    max-width: 300px;

    img{
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;

        @include breakpoint ($mobile-bp){
            padding-left: 1.7rem;
        }
    }

    @include breakpoint ($mobile-bp){
        width: 240px;
        height: 240px;
    }
    
}



.aboutus__content{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-width: 290px;
    padding: 2.5rem;

    @include breakpoint ($mobile-bp){
        max-width: none;
        padding: 1.5rem;
    }
}

.aboutus__title{
    margin-bottom: 1rem;
    font-size: 2.4rem;
    color: $white;
    font-weight: 500;

    a{
        color: inherit;
        text-decoration: none;
    }

    &:hover{
        text-decoration: underline;
    }
}

.aboutus__subtitle{
    margin-bottom: 2rem;
    font-size: 1.5rem;
    color: $white;
    font-weight: 500;
}

.aboutus__discription{
    margin-bottom: 3rem;
    color: #d2d2d2;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.68;
}

.aboutus__footer{
    margin-top: auto;
    text-align: right;

    @include breakpoint ($mobile-bp){
        text-align: left;
    }
}